* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



.btn-outline-success1 {
    color: #fff;
    border-color: #fff;
}

.btn-outline-success1:hover {
    color: #fc2c44;
    background-color: #ffffff;
    border-color: #ffffff;
}

.cover {
    padding: 0 1.5rem;
}

.height {
    height: 70px;
}

.cover-container {
    max-width: 42em;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

.h2 {
    font-family: Charis SIL, sans-serif;
    font-size: 50px;
}

h5 {
    font-family: Charis SIL, sans-serif;
    font-size: 32px;
    text-align: left;

}

#p1 {
    font-size: 16px;
}

.news-p {
    font-family: Charis SIL, sans-serif;
    font-size: 18px;
    opacity: .7;
}

#sub-p {
    font-size: 20px;
}

.btn-primary1 {
    width: 100%;
    letter-spacing: 1.2px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-primary1:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-primary1.focus,
.btn-primary1:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.carousel img {
    width: 100%;
}

.bg-secondary1 {
    background-color: white;
    /*     
    border: 1px solid #fc2c44; */
}

.bg-secondary2 {
    background-color: #fee9e9;
    /*     
    border: 1px solid #fc2c44; */
}

h3 {
    font-size: 18px;
    font-family: Charis SIL, sans-serif;

}

.carousel p {
    font-size: 18px;
    font-weight: bold;
}

#exampleInputEmail1 {
    width: 50%;
}

.checked {
    color: #ffd900;
}

.unchecked {
    color: #f0f0f0;
}

.card-text p {
    font-family: poppins, sans-serif !important;
    font-size: 10px !important;
}



.text-secondary1 {
    color: #000000 !important;
    font-family: Charis SIL, sans-serif;
    font-size: 22px;
}

a.text-secondary1:focus,
a.text-secondary1:hover {
    color: #000000 !important;
}

.sec-nav {


    background-color: #c0abad;
    display: block;
    box-sizing: border-box;
    overflow: hidden;


}

.card .img-fluid :hover {

    width: 100%;

}

.first:hover {
    opacity: 0.5px;
    zoom: 100%;
    transform: scale(1.1);
}

#sop {
    font-size: 22px;
    opacity: 0.6;
}


.link-dark {
    color: #000000;
}

.link-dark:hover {
    text-decoration: none;
    /* color: #fc2c44; */
}

#foot {
    font-size: 22px;
}

.card-wraper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.r-wdth {
    width: 50px;
}

.alin-lf-1 {
    margin-left: 10px;
}

.align-1 {
    display: flex;
    gap: 200px;
}

.align-2 {
    display: flex;
    gap: 209px;


}

.align-3 {
    display: flex;
    gap: 232px;

}

.align-4 {
    display: flex;
    gap: 200px;


}

.txt-p {
    font-size: 30px;
}

.width {
    width: 150px;
}

.pypimg {
    height: 50px;
    width: 50px;
    margin-left: 6rem;
}

.pypl {
    display: flex;
}

.form-control1 {
    display: block;
    width: 40%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid #ffff;
    background-color: transparent;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control1::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 17px;
    letter-spacing: 1.8px;
}